
*.xcuserstate

Smart_home.xcworkspace/xcuserdata/pengzishang.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

Smart_home.xcworkspace/xcuserdata/pengzishang.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

*.xcscmblueprint

*.xcscmblueprint
