<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIR</key>
	<array>
		<dict>
			<key>brand</key>
			<string>格力</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
				<string>07</string>
				<string>08</string>
				<string>09</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海尔</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海信</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日立</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>华宝</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>凯林</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>科龙</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>LG</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>志高</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>美的</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>开利</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长虹</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
				<string>07</string>
				<string>08</string>
				<string>09</string>
				<string>10</string>
				<string>11</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>春兰</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>大金</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>伊莱克斯</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>富士通</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三菱</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
				<string>06</string>
				<string>07</string>
				<string>08</string>
				<string>09</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>松下</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>蓝波</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三星</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三洋</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>夏普</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新科</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东宝</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
				<string>05</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东芝</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>威力</string>
			<key>code</key>
			<array>
				<string>01</string>
				<string>02</string>
				<string>03</string>
				<string>04</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奥克斯</string>
			<key>code</key>
			<array>
				<string>01</string>
			</array>
		</dict>
	</array>
	<key>TV</key>
	<array>
		<dict>
			<key>brand</key>
			<string>创维</string>
			<key>code</key>
			<array>
				<string>009</string>
				<string>010</string>
				<string>011</string>
				<string>012</string>
				<string>013</string>
				<string>014</string>
				<string>015</string>
				<string>016</string>
				<string>017</string>
				<string>018</string>
				<string>019</string>
				<string>057</string>
				<string>058</string>
				<string>059</string>
				<string>060</string>
				<string>077</string>
				<string>091</string>
				<string>105</string>
				<string>113</string>
				<string>125</string>
				<string>126</string>
				<string>138</string>
				<string>146</string>
				<string>147</string>
				<string>148</string>
				<string>149</string>
				<string>150</string>
				<string>155</string>
				<string>158</string>
				<string>181</string>
				<string>182</string>
				<string>183</string>
				<string>216</string>
				<string>226</string>
				<string>234</string>
				<string>235</string>
				<string>236</string>
				<string>242</string>
				<string>245</string>
				<string>256</string>
				<string>257</string>
				<string>258</string>
				<string>259</string>
				<string>260</string>
				<string>261</string>
				<string>262</string>
				<string>277</string>
				<string>278</string>
				<string>284</string>
				<string>306</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>康佳</string>
			<key>code</key>
			<array>
				<string>002</string>
				<string>003</string>
				<string>004</string>
				<string>075</string>
				<string>091</string>
				<string>097</string>
				<string>109</string>
				<string>112</string>
				<string>114</string>
				<string>133</string>
				<string>145</string>
				<string>147</string>
				<string>151</string>
				<string>152</string>
				<string>153</string>
				<string>154</string>
				<string>155</string>
				<string>156</string>
				<string>157</string>
				<string>181</string>
				<string>190</string>
				<string>223</string>
				<string>229</string>
				<string>230</string>
				<string>231</string>
				<string>243</string>
				<string>272</string>
				<string>297</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海信</string>
			<key>code</key>
			<array>
				<string>029</string>
				<string>030</string>
				<string>070</string>
				<string>080</string>
				<string>086</string>
				<string>087</string>
				<string>088</string>
				<string>090</string>
				<string>094</string>
				<string>095</string>
				<string>105</string>
				<string>125</string>
				<string>126</string>
				<string>177</string>
				<string>179</string>
				<string>181</string>
				<string>188</string>
				<string>189</string>
				<string>201</string>
				<string>202</string>
				<string>203</string>
				<string>204</string>
				<string>211</string>
				<string>212</string>
				<string>237</string>
				<string>238</string>
				<string>239</string>
				<string>240</string>
				<string>250</string>
				<string>251</string>
				<string>252</string>
				<string>253</string>
				<string>254</string>
				<string>255</string>
				<string>289</string>
				<string>290</string>
				<string>291</string>
				<string>292</string>
				<string>293</string>
				<string>296</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海尔</string>
			<key>code</key>
			<array>
				<string>005</string>
				<string>006</string>
				<string>007</string>
				<string>008</string>
				<string>066</string>
				<string>067</string>
				<string>177</string>
				<string>186</string>
				<string>191</string>
				<string>192</string>
				<string>241</string>
				<string>250</string>
				<string>251</string>
				<string>252</string>
				<string>263</string>
				<string>267</string>
				<string>268</string>
				<string>279</string>
				<string>309</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>TCL</string>
			<key>code</key>
			<array>
				<string>036</string>
				<string>037</string>
				<string>038</string>
				<string>039</string>
				<string>040</string>
				<string>041</string>
				<string>042</string>
				<string>076</string>
				<string>130</string>
				<string>132</string>
				<string>144</string>
				<string>147</string>
				<string>149</string>
				<string>158</string>
				<string>159</string>
				<string>160</string>
				<string>184</string>
				<string>185</string>
				<string>217</string>
				<string>222</string>
				<string>281</string>
				<string>282</string>
				<string>283</string>
				<string>307</string>
				<string>312</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长虹</string>
			<key>code</key>
			<array>
				<string>020</string>
				<string>021</string>
				<string>022</string>
				<string>023</string>
				<string>024</string>
				<string>025</string>
				<string>026</string>
				<string>027</string>
				<string>065</string>
				<string>080</string>
				<string>088</string>
				<string>089</string>
				<string>090</string>
				<string>091</string>
				<string>094</string>
				<string>096</string>
				<string>106</string>
				<string>108</string>
				<string>113</string>
				<string>130</string>
				<string>131</string>
				<string>136</string>
				<string>147</string>
				<string>161</string>
				<string>162</string>
				<string>163</string>
				<string>166</string>
				<string>167</string>
				<string>168</string>
				<string>175</string>
				<string>225</string>
				<string>228</string>
				<string>247</string>
				<string>248</string>
				<string>249</string>
				<string>295</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>厦华</string>
			<key>code</key>
			<array>
				<string>031</string>
				<string>091</string>
				<string>096</string>
				<string>104</string>
				<string>105</string>
				<string>107</string>
				<string>113</string>
				<string>132</string>
				<string>133</string>
				<string>134</string>
				<string>135</string>
				<string>138</string>
				<string>149</string>
				<string>155</string>
				<string>156</string>
				<string>170</string>
				<string>173</string>
				<string>271</string>
				<string>273</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>夏新</string>
			<key>code</key>
			<array>
				<string>001</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海虹</string>
			<key>code</key>
			<array>
				<string>028</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>飞利浦</string>
			<key>code</key>
			<array>
				<string>052</string>
				<string>093</string>
				<string>103</string>
				<string>104</string>
				<string>119</string>
				<string>120</string>
				<string>123</string>
				<string>214</string>
				<string>274</string>
				<string>300</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三星</string>
			<key>code</key>
			<array>
				<string>046</string>
				<string>068</string>
				<string>088</string>
				<string>091</string>
				<string>096</string>
				<string>101</string>
				<string>104</string>
				<string>105</string>
				<string>113</string>
				<string>117</string>
				<string>119</string>
				<string>120</string>
				<string>123</string>
				<string>129</string>
				<string>130</string>
				<string>166</string>
				<string>196</string>
				<string>223</string>
				<string>285</string>
				<string>302</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三洋</string>
			<key>code</key>
			<array>
				<string>032</string>
				<string>033</string>
				<string>034</string>
				<string>062</string>
				<string>063</string>
				<string>064</string>
				<string>080</string>
				<string>087</string>
				<string>088</string>
				<string>094</string>
				<string>095</string>
				<string>113</string>
				<string>115</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
				<string>179</string>
				<string>205</string>
				<string>206</string>
				<string>207</string>
				<string>264</string>
				<string>286</string>
				<string>303</string>
				<string>304</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>东芝</string>
			<key>code</key>
			<array>
				<string>054</string>
				<string>055</string>
				<string>056</string>
				<string>080</string>
				<string>087</string>
				<string>088</string>
				<string>094</string>
				<string>095</string>
				<string>096</string>
				<string>107</string>
				<string>108</string>
				<string>110</string>
				<string>113</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
				<string>164</string>
				<string>165</string>
				<string>166</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日立</string>
			<key>code</key>
			<array>
				<string>045</string>
				<string>080</string>
				<string>086</string>
				<string>087</string>
				<string>088</string>
				<string>090</string>
				<string>094</string>
				<string>095</string>
				<string>107</string>
				<string>128</string>
				<string>244</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>索尼</string>
			<key>code</key>
			<array>
				<string>047</string>
				<string>061</string>
				<string>085</string>
				<string>121</string>
				<string>169</string>
				<string>180</string>
				<string>220</string>
				<string>221</string>
				<string>311</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>LG</string>
			<key>code</key>
			<array>
				<string>049</string>
				<string>050</string>
				<string>051</string>
				<string>079</string>
				<string>120</string>
				<string>123</string>
				<string>213</string>
				<string>298</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>松下</string>
			<key>code</key>
			<array>
				<string>048</string>
				<string>053</string>
				<string>081</string>
				<string>082</string>
				<string>100</string>
				<string>094</string>
				<string>095</string>
				<string>101</string>
				<string>102</string>
				<string>137</string>
				<string>143</string>
				<string>276</string>
				<string>299</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>JVC</string>
			<key>code</key>
			<array>
				<string>072</string>
				<string>164</string>
				<string>227</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>先锋</string>
			<key>code</key>
			<array>
				<string>275</string>
				<string>301</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>山水</string>
			<key>code</key>
			<array>
				<string>078</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>夏普</string>
			<key>code</key>
			<array>
				<string>035</string>
				<string>083</string>
				<string>096</string>
				<string>098</string>
				<string>105</string>
				<string>208</string>
				<string>209</string>
				<string>210</string>
				<string>305</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>联想</string>
			<key>code</key>
			<array>
				<string>310</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>狮龙</string>
			<key>code</key>
			<array>
				<string>071</string>
				<string>096</string>
				<string>105</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新科</string>
			<key>code</key>
			<array>
				<string>043</string>
				<string>044</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>清华同方</string>
			<key>code</key>
			<array>
				<string>069</string>
				<string>287</string>
				<string>288</string>
				<string>308</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>NEC</string>
			<key>code</key>
			<array>
				<string>164</string>
				<string>213</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>Warumaia</string>
			<key>code</key>
			<array>
				<string>092</string>
				<string>111</string>
				<string>122</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>Warumaia</string>
			<key>code</key>
			<array>
				<string>092</string>
				<string>111</string>
				<string>122</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>日电</string>
			<key>code</key>
			<array>
				<string>084</string>
				<string>086</string>
				<string>091</string>
				<string>096</string>
				<string>104</string>
				<string>105</string>
				<string>113</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奥林普</string>
			<key>code</key>
			<array>
				<string>178</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>宝声</string>
			<key>code</key>
			<array>
				<string>091</string>
				<string>096</string>
				<string>105</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>宝花石</string>
			<key>code</key>
			<array>
				<string>113</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>安华</string>
			<key>code</key>
			<array>
				<string>081</string>
				<string>097</string>
				<string>112</string>
				<string>127</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>百合花</string>
			<key>code</key>
			<array>
				<string>103</string>
				<string>104</string>
				<string>120</string>
				<string>123</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>百乐</string>
			<key>code</key>
			<array>
				<string>092</string>
				<string>096</string>
				<string>099</string>
				<string>105</string>
				<string>106</string>
				<string>107</string>
				<string>108</string>
				<string>109</string>
				<string>110</string>
				<string>111</string>
				<string>122</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>北京</string>
			<key>code</key>
			<array>
				<string>088</string>
				<string>091</string>
				<string>092</string>
				<string>196</string>
				<string>099</string>
				<string>101</string>
				<string>103</string>
				<string>104</string>
				<string>105</string>
				<string>106</string>
				<string>107</string>
				<string>108</string>
				<string>109</string>
				<string>110</string>
				<string>111</string>
				<string>113</string>
				<string>119</string>
				<string>120</string>
				<string>122</string>
				<string>123</string>
				<string>129</string>
				<string>130</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
				<string>166</string>
				<string>195</string>
				<string>199</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>彩虹</string>
			<key>code</key>
			<array>
				<string>091</string>
				<string>096</string>
				<string>105</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>彩星</string>
			<key>code</key>
			<array>
				<string>103</string>
				<string>104</string>
				<string>120</string>
				<string>123</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>彩凌</string>
			<key>code</key>
			<array>
				<string>176</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长城</string>
			<key>code</key>
			<array>
				<string>081</string>
				<string>091</string>
				<string>092</string>
				<string>096</string>
				<string>097</string>
				<string>099</string>
				<string>103</string>
				<string>104</string>
				<string>105</string>
				<string>106</string>
				<string>107</string>
				<string>108</string>
				<string>109</string>
				<string>110</string>
				<string>111</string>
				<string>113</string>
				<string>120</string>
				<string>122</string>
				<string>123</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长城</string>
			<key>code</key>
			<array>
				<string>081</string>
				<string>091</string>
				<string>092</string>
				<string>096</string>
				<string>097</string>
				<string>099</string>
				<string>103</string>
				<string>104</string>
				<string>105</string>
				<string>106</string>
				<string>107</string>
				<string>108</string>
				<string>109</string>
				<string>110</string>
				<string>111</string>
				<string>113</string>
				<string>120</string>
				<string>122</string>
				<string>123</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长风</string>
			<key>code</key>
			<array>
				<string>091</string>
				<string>104</string>
				<string>113</string>
				<string>125</string>
				<string>126</string>
				<string>132</string>
				<string>135</string>
				<string>155</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>长飞</string>
			<key>code</key>
			<array>
				<string>091</string>
				<string>096</string>
				<string>105</string>
				<string>122</string>
				<string>196</string>
			</array>
		</dict>
	</array>
	<key>DVD</key>
	<array>
		<dict>
			<key>brand</key>
			<string>步步高</string>
			<key>code</key>
			<array>
				<string>015</string>
				<string>016</string>
				<string>062</string>
				<string>065</string>
				<string>071</string>
				<string>072</string>
				<string>076</string>
				<string>091</string>
				<string>121</string>
				<string>134</string>
				<string>152</string>
				<string>154</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>清华同方</string>
			<key>code</key>
			<array>
				<string>001</string>
				<string>099</string>
				<string>100</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>飞利浦</string>
			<key>code</key>
			<array>
				<string>033</string>
				<string>143</string>
				<string>056</string>
				<string>153</string>
				<string>002</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>SAST</string>
			<key>code</key>
			<array>
				<string>064</string>
				<string>119</string>
				<string>103</string>
				<string>102</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>先锋</string>
			<key>code</key>
			<array>
				<string>087</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>万利达</string>
			<key>code</key>
			<array>
				<string>006</string>
				<string>007</string>
				<string>008</string>
				<string>030</string>
				<string>046</string>
				<string>053</string>
				<string>067</string>
				<string>068</string>
				<string>116</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>索尼</string>
			<key>code</key>
			<array>
				<string>047</string>
				<string>061</string>
				<string>085</string>
				<string>121</string>
				<string>169</string>
				<string>180</string>
				<string>220</string>
				<string>221</string>
				<string>311</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>金正</string>
			<key>code</key>
			<array>
				<string>047</string>
				<string>114</string>
				<string>122</string>
				<string>123</string>
				<string>124</string>
				<string>125</string>
				<string>133</string>
				<string>136</string>
				<string>140</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奇声</string>
			<key>code</key>
			<array>
				<string>004</string>
				<string>012</string>
				<string>011</string>
				<string>026</string>
				<string>028</string>
				<string>029</string>
				<string>049</string>
				<string>080</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>夏新</string>
			<key>code</key>
			<array>
				<string>150</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>松下</string>
			<key>code</key>
			<array>
				<string>031</string>
				<string>039</string>
				<string>042</string>
				<string>058</string>
				<string>156</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新科</string>
			<key>code</key>
			<array>
				<string>045</string>
				<string>054</string>
				<string>022</string>
			</array>
		</dict>
	</array>
	<key>AMP</key>
	<array>
		<dict>
			<key>brand</key>
			<string>创维</string>
			<key>code</key>
			<array>
				<string>001</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>沙巴</string>
			<key>code</key>
			<array>
				<string>002</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>三洋</string>
			<key>code</key>
			<array>
				<string>003</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>雅马哈</string>
			<key>code</key>
			<array>
				<string>004</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>狮龙</string>
			<key>code</key>
			<array>
				<string>005</string>
				<string>006</string>
				<string>007</string>
				<string>029</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>飞利浦</string>
			<key>code</key>
			<array>
				<string>008</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>SONY</string>
			<key>code</key>
			<array>
				<string>030</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>天龙</string>
			<key>code</key>
			<array>
				<string>009</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>山水</string>
			<key>code</key>
			<array>
				<string>010</string>
				<string>011</string>
				<string>013</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>蒂雅克</string>
			<key>code</key>
			<array>
				<string>012</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>威莱</string>
			<key>code</key>
			<array>
				<string>014</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>奔腾</string>
			<key>code</key>
			<array>
				<string>015</string>
				<string>017</string>
				<string>018</string>
				<string>019</string>
				<string>020</string>
				<string>021</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>马士兰</string>
			<key>code</key>
			<array>
				<string>016</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>爱浪</string>
			<key>code</key>
			<array>
				<string>022</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>君牌</string>
			<key>code</key>
			<array>
				<string>027</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>UBS</string>
			<key>code</key>
			<array>
				<string>023</string>
				<string>024</string>
				<string>025</string>
				<string>026</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>其它</string>
			<key>code</key>
			<array>
				<string>028</string>
			</array>
		</dict>
	</array>
	<key>BOX</key>
	<array>
		<dict>
			<key>brand</key>
			<string>北京</string>
			<key>code</key>
			<array>
				<string>058</string>
				<string>249</string>
				<string>269</string>
				<string>302</string>
				<string>303</string>
				<string>318</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>天津</string>
			<key>code</key>
			<array>
				<string>034</string>
				<string>297</string>
				<string>043</string>
				<string>298</string>
				<string>164</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>上海</string>
			<key>code</key>
			<array>
				<string>144</string>
				<string>103</string>
				<string>157</string>
				<string>188</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>重庆</string>
			<key>code</key>
			<array>
				<string>023</string>
				<string>041</string>
				<string>285</string>
				<string>288</string>
				<string>289</string>
				<string>290</string>
				<string>291</string>
				<string>292</string>
				<string>293</string>
				<string>108</string>
				<string>109</string>
				<string>040</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>辽宁</string>
			<key>code</key>
			<array>
				<string>122</string>
				<string>123</string>
				<string>073</string>
				<string>234</string>
				<string>270</string>
				<string>025</string>
				<string>121</string>
				<string>178</string>
				<string>065</string>
				<string>263</string>
				<string>299</string>
				<string>158</string>
				<string>121</string>
				<string>226</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>吉林</string>
			<key>code</key>
			<array>
				<string>025</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>黑龙江</string>
			<key>code</key>
			<array>
				<string>002</string>
				<string>059</string>
				<string>133</string>
				<string>138</string>
				<string>161</string>
				<string>164</string>
				<string>248</string>
				<string>190</string>
				<string>191</string>
				<string>196</string>
				<string>271</string>
				<string>005</string>
				<string>060</string>
				<string>174</string>
				<string>131</string>
				<string>203</string>
				<string>065</string>
				<string>046</string>
				<string>063</string>
				<string>066</string>
				<string>157</string>
				<string>158</string>
				<string>179</string>
				<string>196</string>
				<string>210</string>
				<string>239</string>
				<string>257</string>
				<string>273</string>
				<string>295</string>
				<string>216</string>
				<string>217</string>
				<string>307</string>
				<string>315</string>
				<string>319</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>河北</string>
			<key>code</key>
			<array>
				<string>021</string>
				<string>136</string>
				<string>054</string>
				<string>065</string>
				<string>071</string>
				<string>300</string>
				<string>137</string>
				<string>173</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>山西</string>
			<key>code</key>
			<array>
				<string>165</string>
				<string>254</string>
				<string>255</string>
				<string>189</string>
				<string>247</string>
				<string>310</string>
				<string>320</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>山东</string>
			<key>code</key>
			<array>
				<string>111</string>
				<string>112</string>
				<string>104</string>
				<string>124</string>
				<string>083</string>
				<string>148</string>
				<string>017</string>
				<string>018</string>
				<string>102</string>
				<string>172</string>
				<string>111</string>
				<string>112</string>
				<string>152</string>
				<string>237</string>
				<string>238</string>
				<string>161</string>
				<string>201</string>
				<string>202</string>
				<string>237</string>
				<string>286</string>
				<string>287</string>
				<string>250</string>
				<string>251</string>
				<string>154</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>陕西</string>
			<key>code</key>
			<array>
				<string>028</string>
				<string>118</string>
				<string>027</string>
				<string>305</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>安徽</string>
			<key>code</key>
			<array>
				<string>142</string>
				<string>080</string>
				<string>052</string>
				<string>317</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>江苏</string>
			<key>code</key>
			<array>
				<string>015</string>
				<string>072</string>
				<string>090</string>
				<string>159</string>
				<string>033</string>
				<string>023</string>
				<string>172</string>
				<string>162</string>
				<string>170</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>福建</string>
			<key>code</key>
			<array>
				<string>037</string>
				<string>031</string>
				<string>045</string>
				<string>175</string>
				<string>176</string>
				<string>177</string>
				<string>125</string>
				<string>163</string>
				<string>155</string>
				<string>040</string>
				<string>227</string>
				<string>318</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>浙江</string>
			<key>code</key>
			<array>
				<string>052</string>
				<string>037</string>
				<string>065</string>
				<string>247</string>
				<string>065 </string>
				<string>071</string>
				<string>082</string>
				<string>056</string>
				<string>081</string>
				<string>092</string>
				<string>143</string>
				<string>038</string>
				<string>064</string>
				<string>017</string>
				<string>059</string>
				<string>023</string>
				<string>042</string>
				<string>036</string>
				<string>225</string>
				<string>092</string>
				<string>116</string>
				<string>117</string>
				<string>091</string>
				<string>042</string>
				<string>044</string>
				<string>095</string>
				<string>096</string>
				<string>097</string>
				<string>098</string>
				<string>099</string>
				<string>106</string>
				<string>107</string>
				<string>166</string>
				<string>134</string>
				<string>127</string>
				<string>194</string>
				<string>195</string>
				<string>218</string>
				<string>094</string>
				<string>106</string>
				<string>183</string>
				<string>184</string>
				<string>093</string>
				<string>316</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>河南</string>
			<key>code</key>
			<array>
				<string>022</string>
				<string>258</string>
				<string>281</string>
				<string>206</string>
				<string>021</string>
				<string>132</string>
				<string>272</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>湖北</string>
			<key>code</key>
			<array>
				<string>161</string>
				<string>294</string>
				<string>032</string>
				<string>088</string>
				<string>089</string>
				<string>185</string>
				<string>186</string>
				<string>085</string>
				<string>082</string>
				<string>075</string>
				<string>014</string>
				<string>065</string>
				<string>085</string>
				<string>024</string>
				<string>036</string>
				<string>076</string>
				<string>077</string>
				<string>078</string>
				<string>140</string>
				<string>180</string>
				<string>164</string>
				<string>132</string>
				<string>209</string>
				<string>214</string>
				<string>100</string>
				<string>140</string>
				<string>323</string>
				<string>311</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>湖南</string>
			<key>code</key>
			<array>
				<string>032</string>
				<string>017</string>
				<string>018</string>
				<string>139</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>江西</string>
			<key>code</key>
			<array>
				<string>046</string>
				<string>067</string>
				<string>141</string>
				<string>261</string>
				<string>262</string>
				<string>031</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>云南</string>
			<key>code</key>
			<array>
				<string>024</string>
				<string>218</string>
				<string>259</string>
				<string>029</string>
				<string>230</string>
				<string>231</string>
				<string>232</string>
				<string>042</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>海南</string>
			<key>code</key>
			<array>
				<string>162</string>
				<string>020</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>四川</string>
			<key>code</key>
			<array>
				<string>269</string>
				<string>041</string>
				<string>126</string>
				<string>256</string>
				<string>233</string>
				<string>288</string>
				<string>145</string>
				<string>042</string>
				<string>240</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>贵州</string>
			<key>code</key>
			<array>
				<string>052</string>
				<string>153</string>
				<string>274</string>
				<string>275</string>
				<string>276</string>
				<string>277</string>
				<string>278</string>
				<string>279</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>广东</string>
			<key>code</key>
			<array>
				<string>192</string>
				<string>193</string>
				<string>267</string>
				<string>268</string>
				<string>074</string>
				<string>160</string>
				<string>004</string>
				<string>021</string>
				<string>008</string>
				<string>009</string>
				<string>023</string>
				<string>101</string>
				<string>086</string>
				<string>204</string>
				<string>205</string>
				<string>221</string>
				<string>222</string>
				<string>223</string>
				<string>283</string>
				<string>284</string>
				<string>285</string>
				<string>055</string>
				<string>074</string>
				<string>019</string>
				<string>007</string>
				<string>001</string>
				<string>003</string>
				<string>026</string>
				<string>050</string>
				<string>051</string>
				<string>282</string>
				<string>282</string>
				<string>007</string>
				<string>010</string>
				<string>011</string>
				<string>105</string>
				<string>013</string>
				<string>017</string>
				<string>032</string>
				<string>156</string>
				<string>235</string>
				<string>236</string>
				<string>114</string>
				<string>115</string>
				<string>260</string>
				<string>181</string>
				<string>182</string>
				<string>128</string>
				<string>129</string>
				<string>130</string>
				<string>162</string>
				<string>208</string>
				<string>204</string>
				<string>205</string>
				<string>206</string>
				<string>207</string>
				<string>209</string>
				<string>156</string>
				<string>304</string>
				<string>305</string>
				<string>309</string>
				<string>313</string>
				<string>322</string>
				<string>306</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>甘肃</string>
			<key>code</key>
			<array>
				<string>079</string>
				<string>200</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>青海</string>
			<key>code</key>
			<array>
				<string>032</string>
				<string>120</string>
				<string>087</string>
				<string>252</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>西藏</string>
			<key>code</key>
			<array>
				<string>086</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>新疆</string>
			<key>code</key>
			<array>
				<string>042</string>
				<string>048</string>
				<string>049</string>
				<string>143</string>
				<string>056</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>广西</string>
			<key>code</key>
			<array>
				<string>132</string>
				<string>168</string>
				<string>241</string>
				<string>308</string>
				<string>312</string>
				<string>314</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>内蒙古</string>
			<key>code</key>
			<array>
				<string>169</string>
				<string>031</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>宁夏</string>
			<key>code</key>
			<array>
				<string>167</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>中国电信</string>
			<key>code</key>
			<array>
				<string>039</string>
				<string>110</string>
				<string>151</string>
				<string>211</string>
				<string>219</string>
				<string>321</string>
			</array>
		</dict>
		<dict>
			<key>brand</key>
			<string>其他</string>
			<key>code</key>
			<array>
				<string>039</string>
				<string>004</string>
				<string>006</string>
				<string>012</string>
				<string>016</string>
				<string>030</string>
				<string>035</string>
				<string>039</string>
				<string>047</string>
				<string>053</string>
				<string>057</string>
				<string>061</string>
				<string>062</string>
				<string>068</string>
				<string>069</string>
				<string>070</string>
				<string>084</string>
				<string>110</string>
				<string>113</string>
				<string>119</string>
				<string>135</string>
				<string>146</string>
				<string>147</string>
				<string>149</string>
				<string>150</string>
				<string>151</string>
				<string>171</string>
				<string>187</string>
				<string>197</string>
				<string>198</string>
				<string>199</string>
				<string>211</string>
				<string>212</string>
				<string>213</string>
				<string>215</string>
				<string>219</string>
				<string>220</string>
				<string>224</string>
				<string>228</string>
				<string>229</string>
				<string>242</string>
				<string>243</string>
				<string>244</string>
				<string>245</string>
				<string>246</string>
				<string>253</string>
				<string>264</string>
				<string>265</string>
				<string>266</string>
				<string>280</string>
				<string>296</string>
				<string>301</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
